---
layout: default
title: Categories
permalink: /category/
icon: th-list
---


<div class="page clearfix">
    <div class="left">
        <ul>
            {% for category in site.categories %}
            <h3 id="{{category | first}}">{{category | first}}</h3>
                {% for posts in category  %}
                    {% for post in posts %}
                        {% if post.url %}
                        <li>
                            <a class="title" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                            {% include layout_lib/category.html %}
                            {% include layout_lib/tag.html %}
                        </li>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            {% endfor %}
        </ul>
    </div>
    <button class="anchor"><i class="fa fa-anchor"></i></button>
    <div class="right">
        <div class="wrap">

            <!-- Content -->
            <div class="side content">
                <div class="title"><i class="fa fa-th-list" aria-hidden="true"></i>Categoties</div>
                <ul class="content-ul" cate>
                    {% for category in site.categories %}
                    <li>
                        <a href="{{ root_url }}/{{ site.category_dir }}#{{ category | first }}" class="categories-list-item" cate="{{ category | first }}">
                            <span class="name">
                                {{ category | first }}
                            </span>
                            <span class="badge">{{ category | last | size }}</span>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <!-- 其他div框放到这里 -->
            <!-- <div class="side">bbbb</div> -->
        </div>
    </div>
</div>


<script>
    {%- include javascript/pageContent.js -%}
</script>

